*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 300vh;
}

.container{
  width: 450px;
  height: 530px;
  border: solid 5px rebeccapurple;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
}

.box{
background-color: rgb(33, 143, 233);
width: 100px;
height: 100px;
color: #fff;
font-weight: bold;
text-align: center;
line-height: 100px;
margin: 20px;
margin-left: 20px;
}

.static{
  position: static;
  top: 90px;
}

.relative{
  position: relative;
  background-color: crimson;
  /*bottom: 40px;
  left: 40px;*/
}

.absolute {
  background-color:blue ;
  /*position: absolute;
  background-color: purple;
  left: 0;
  top: 0;
  right: 0;*/
}

.fixed{
  position: fixed;
  background-color: darkcyan;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
}