*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
*::selection{
  background-color: tomato;
}

.enlace{
  display: block;
  background-color: tomato;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
  border-bottom: solid 3px #000;
  transition: 0.5s;
}

.enlace:link{
  background-color: aqua;
  color: #000;
}

.enlace:visited{
  background-color: rgb(90, 65, 203);
}

.enlace:hover{
  background-color: rgb(47, 174, 25);
}

p{
  width: 70%;
  margin: 0 auto;
}

p::before,p::after{
content:"";
width: 100%;
height: 4px;
background-color: red;
display: block;
}

p::before,p::after{
  display: line;
  text-align: center;
}



